{% extends "wintercome/base.html" %}

{% block title %}
Task Dashboard
{% endblock %}

{% block content %}
<div><h1>Available CMD task:</h1></div>

<div>
<table>
<tr>
    <th>ID</th>
    <th>CMD Title</th>
    <th>Description</th>
    <th>Run Level</th>
</tr>
{% for cmd_task in cmd_task_list %}
<tr>
    <td><a href="{% url 'wintercome:basic-cmd-call' cmd_task.id %}">
        {{cmd_task.id}}
    </a> </td>
    <td>{{cmd_task.title}}</td>
    <td>{{cmd_task.description}}</td>
    <td>{{cmd_task.run_level}}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}